Repository tagupta/Sequence-Audit-report: changes, and which lefthook commands are due for each by the changed paths.
All: forge-fmt, prettier

forge-fmt:
  run: forge fmt {staged_files} && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

Update README.md
  README.md
Due: none

Code: README finalization
  README.md
Due: none

Additional context
  README.md
Due: none

Add V12 output
  README.md
  Sequence-V12-output.md
Due: none

fix broken link
  README.md
Due: none

audit: intial reporting with low findings
  .env.sample
  audit/layout.md
  audit/report.md
  audits/consensys-audit.pdf
  audits/quantstamp-audit.pdf
  audits/rotcivegaf-audit.md
  note.md
  report.md
  scope.txt
  src/Factory.sol
  src/Guest.sol
  src/Stage2Module.sol
  src/extensions/passkeys/Passkeys.sol
  src/extensions/recovery/Recovery.sol
  src/extensions/sessions/SessionManager.sol
  src/extensions/sessions/SessionSig.sol
  src/extensions/sessions/explicit/ExplicitSessionManager.sol
  src/extensions/sessions/explicit/PermissionValidator.sol
  src/extensions/sessions/implicit/ImplicitSessionManager.sol
  src/modules/Calls.sol
  src/modules/ERC4337v07.sol
  src/modules/Hooks.sol
  src/modules/Implementation.sol
  src/modules/Nonce.sol
  src/modules/Payload.sol
  src/modules/auth/BaseAuth.sol
  src/modules/auth/BaseSig.sol
  src/modules/auth/Stage1Auth.sol
  src/modules/interfaces/IERC1271.sol
  src/modules/interfaces/IERC223Receiver.sol
  src/modules/interfaces/IPartialAuth.sol
  src/utils/Base64.sol
  src/utils/LibBytes.sol
  src/utils/LibOptim.sol
  src/utils/P256.sol
  src/utils/WebAuthn.sol
  test/extensions/sessions/explicit/PermissionValidator.t.sol
  test/modules/Calls.t.sol
Due: forge-fmt, prettier

audit: reporting findings
  audit/layout.md
  audit/report.md
  src/Factory.sol
  src/Guest.sol
  src/Stage2Module.sol
  src/extensions/passkeys/Passkeys.sol
  src/extensions/recovery/Recovery.sol
  src/extensions/sessions/SessionSig.sol
  src/extensions/sessions/explicit/PermissionValidator.sol
  src/modules/Calls.sol
  src/modules/ERC4337v07.sol
  src/modules/Hooks.sol
  src/modules/Implementation.sol
  src/modules/Payload.sol
  src/modules/auth/BaseAuth.sol
  src/modules/auth/BaseSig.sol
  src/modules/interfaces/IPartialAuth.sol
  src/utils/LibBytes.sol
  src/utils/P256.sol
  src/utils/WebAuthn.sol
  test/Guest.t.sol
  test/RootForPasskey.t.sol
  test/extensions/recovery/Recovery.t.sol
  test/extensions/sessions/SessionSig.t.sol
  test/extensions/sessions/SessionTestBase.sol
  test/extensions/sessions/explicit/PermissionValidator.t.sol
  test/modules/Calls.t.sol
Due: forge-fmt, prettier

audit: findings reported
  audit/report.md
  src/Guest.sol
  src/extensions/sessions/SessionSig.sol
  src/modules/Calls.sol
  src/modules/Payload.sol
  src/modules/auth/BaseSig.sol
  test/Guest.t.sol
  test/extensions/sessions/SessionManager.t.sol
Due: forge-fmt, prettier

audit: high finding
  audit/report.md
  src/extensions/sessions/SessionManager.sol
  src/extensions/sessions/SessionSig.sol
  src/modules/Payload.sol
  src/modules/auth/BaseSig.sol
  test/extensions/sessions/ReplaySignature.t.sol
  test/extensions/sessions/SessionManager.t.sol
Due: forge-fmt, prettier

audit: reporting high
  audit/report.md
  src/modules/auth/BaseSig.sol
  test/modules/BaseSig.t.sol
Due: forge-fmt, prettier

audit: reporting med
  audit/report.md
  src/Factory.sol
  test/Factory.t.sol
  test/extensions/sessions/PartialSignatureReplayAttack.sol
  test/extensions/sessions/SessionManager.t.sol
  test/mocks/Emitter.sol
Due: forge-fmt, prettier

audit: high reporting
  audit/report.md
  src/Factory.sol
  src/modules/auth/BaseSig.sol
  test/Factory.t.sol
  test/extensions/sessions/PartialSignatureReplayAttack.sol
  test/mocks/Emitter.sol
  test/modules/BaseSig.t.sol
Due: forge-fmt, prettier

audit:med reporting
  audit/report.md
  src/modules/ERC4337v07.sol
  src/modules/auth/BaseAuth.sol
  test/Stage1Module.t.sol
  test/modules/ERC4337v07.t.sol
Due: forge-fmt, prettier

audit: complete reporting
  audit/findings.md
  audit/logo.pdf
  audit/report.md
  audit/report.pdf
Due: prettier

Path conditions:
  forge-fmt: any of: **/*.sol
  prettier: any of: **/*.{js,jsx,ts,tsx,json,md,yml,yaml}
